*{
    margin: 0%;
    padding: 0%;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #93A8AC;
}
h1{
    text-align: center;
    color: #fff;
    text-shadow:3px 3px 5px black;
    position: relative;
    top: 15px;
}
main{
    height: 38em;
    width: 50em;
    background-image: linear-gradient(blue,red);
    border-radius: 12px;
    position: relative;
    top: 19px;
}
.box{
    height:80px;
    width: 80px;
    border-radius: 10px;
    box-shadow: 5px 5px 6px black;
    margin-bottom: 8px;
    margin-right: 7px;
    font-size: 40PX;
    border: none;
    color: brown;
    text-shadow:3px 3px 5px black;
    background-color: #fff;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30em;
    /* width:250px */
}
.game{
  width: 270px;
  display: flex;
    flex-wrap: wrap;
}
#reset{
    position: relative;
    left: 23.4em;
    bottom: 3em;
    height:33px;
    width: 85px;
    border-radius: 10px;
    background-color: black;
    color: wheat;
    border: none;
}
#reset:hover{
    color: cornflowerblue;
    background-color: darkslategrey;
}
#newgame{
    position: relative;
    left: 25em;
    bottom: 3em;
    height:33px;
    width: 85px;
    border-radius: 10px;
    background-color: black;
    color: wheat;
    border: none;
    /* gap: 10px; */
}
#newgame:hover{
    color: cornflowerblue;
    background-color: darkslategrey;
}

.msg{
    text-align: center;
    color: yellowgreen;
    text-shadow:3px 3px 5px black;
    position: relative;
    top: 45px;
    font-size: 28px;
}
.hide{
    display: none;
}

